{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %} class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
        {% for el in categories %}
            <li {% if category.slug == el.slug %} class="selected" {% endif %}>
                <a href="{{ el.get_absolute_url }}">{{ el.name }}</a>
            </li>
        {% endfor %}
        </ul>
        <h3>Тип масла</h3>
        <fieldset>
            {% for oil in oiltype %}
            <input type="checkbox" id="{{ oil.slug }}">
            <label for="{{ oil.slug }}">{{ oil.name }}</label>
            {% endfor %}
        </fieldset>

        <h3>Вязкость</h3>
        <fieldset>
            {% for visc in viscosity %}
            <input type="checkbox" id="{{ visc.slug }}">
            <label for="{{ visc.slug }}">{{ visc.name }}</label>
            {% endfor %}
        </fieldset>

        <h3>Состав</h3>
        <fieldset>
            {% for comp in compound %}
            <input type="checkbox" id="{{ comp.slug }}">
            <label for="{{ comp.slug }}">{{ comp.name }}</label>
            {% endfor %}
        </fieldset>

        <h3>Топливо</h3>
        <fieldset>
            {% for fu in fuel %}
            <input type="checkbox" id="{{ fu.slug }}">
            <label for="{{ fu.slug }}">{{ fu.name }}</label>
            {% endfor %}

        </fieldset>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                {{ product.price }} руб.
            </div>
        {% endfor %}
    </div>
{% endblock %}